.sendmessage-form {
  display:  flex;
}

.sendmessage-input {
  color: inherit;
  background: none;
  outline: none;
  border: none;
  flex: 1;
  font-size: 16px;
}

.sendmessage-container {
  padding:  20px;
  border-top: 1px #4c758f solid;
  margin-bottom: 20px;
}
